body {
    background-color: #43d1de;
    font-family: 'Merriweather', serif;
    padding-top: 65px;
}

a.navbar-brand {
    padding: 0px 15px;
}

.jumbotron {
    background: #000 url("/assets/hema-vishal-cover.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    font-weight: lighter;
}