body {
    background-color: #97dedb;
    background-image: url("/assets/paisley.png");
    background-repeat: repeat;
    font-family: 'Merriweather', serif;
    padding-top: 65px;
    /*border: solid 5px #ff7f2a;*/
}

a.navbar-brand {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    font-weight: lighter;
}

.panel h1 {
    text-align: center;
    border-bottom: solid 2px #00d4aa;
    margin-bottom: 15px;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron h1, .panel h1 {
    color: #ff7f2a;
}

.jumbotron h2 {
    color: #00d4aa;
}

.jumbotron .text {
    padding: 0px 10px;
    letter-spacing: -1;
    line-height: 1.3em;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    overflow: none;
    color: inherit;
}

.top {
    background: #000 url("/assets/hema-vishal-cover.jpg") center center;
    background-size: cover;
}

.bottom {
    padding: 100px;
    background: #000 url("/assets/hema-vishal-hands.jpg") center center;
    background-size: cover;
    text-align: center;
}

.jumbotron .spacer {
    padding: 0px 5px;
    color: transparent;
}

#monogram-top {
    text-align: center;
    padding-bottom: 15px;
}

#map-container {
    width: 100%;
    height: 100%;
}

#map-outer {
    width: 100%;
    height: 400px;
    padding-bottom: 15px;
}

.footer .container {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
